.homepage-container {
    width: 100%;
    border: 2px black;
    border-style: none solid;
}

.homepage-content-container {
    width: 50%;
    padding: 200px 0;
    margin: auto;
    text-align: center;
}

.title {
    font-size: 48px;
    font-weight: 700;
}

.subtitle {
    font-size: 20px;
}
