.homepage-container {
    width: 100%;
    border: 2px black;
    border-style: none solid;
}

.homepage-content-container {
    width: 50%;
    padding: 200px 0;
    margin: auto;
    text-align: center;
}

.title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 20px;
    margin-bottom: 20px;
}

/* .modal-content {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%);
} */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(192,192,192, 0.5);
}
